# RabitMQ
RABBITMQ_ERLANG_COOKIE=

# RabitMQ USER AND PASSWORD
RABBITMQ_DEFAULT_USER=
RABBITMQ_DEFAULT_PASS=

# PORT MANAGEMENT
RABBITMQ_DEFAULT_PORT=
# PORT AMQP
RABBITMQ_DEFAULT_SERVER=

# virtual host default
RABBITMQ_DEFAULT_VHOST=/